.Body {
    background-color: #343434;
    
}

.BodyContent {
    background-color: #343434;

}

.FeedTitle {

    margin: 56px 911px 8px 425px;
    
    /* margin-left:auto; */
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #7a7a7a;
  }
  