.Body {
    background-color: #343434;
    display: flex; 
    justify-content: center;
}

.BodyContent {
    background-color: #313131;
    min-height: 100vh;
    min-width: 100vw;
    /* align-items: center; */
    justify-content: center; /* Centraliza horizontalmente os itens */
    /* align-items: center; */
    /* display: flex;  */

}
